* {
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .card {
    background-color: white;
    width: 350px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 1px rgba(255, 0, 0, 0.5);
    overflow: hidden;

    .header {
      height: 200px;
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      padding: 10px 30px;

      #title {
        height: 20px;
        text-transform: uppercase;

        @media (max-width: 350px) {
          height: unset;
        }
      }
      .excerpt {
        width: 100%;
        margin: 10px 0 20px;

        div {
          margin-bottom: 10px;
        }
      }

      .profile {
        display: flex;

        .avatar {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 10px;
          overflow: hidden;
        }

        .authorInfo {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: start;
          width: 150px;

          #jobTitle {
            color: silver;
            margin-top: 10px;
          }
        }
      }
    }

    .line {
      width: 100%;
      height: 10px;
      border-radius: 8px;
    }

    .animated-bg {
      background-image: linear-gradient(
        to right,
        rgb(240, 240, 240, 0.7) 0%,
        rgb(230, 230, 230, 0.7) 10%,
        rgb(240, 240, 240, 0.7) 20%,
        rgb(240, 240, 240, 0.7) 100%
      );
      background-size: 200% 100%;
      animation: bgMove 1s linear infinite;
    }

    @keyframes bgMove {
      0% {
        background-position: 50% 0;
      }
      100% {
        background-position: -150% 0;
      }
    }
  }
}
