$primary-color: rgb(215, 201, 201);
$secondary-color: rgb(30, 60, 70);

@mixin button($background-color, $color) {
  background-color: $background-color;
  color: $color;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  border-color: white;
  font-weight: bold;
  cursor: pointer;
}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  padding: 5px;

  h1 {
    margin: 10px 0;
  }

  .container {
    width: 350px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    textarea {
      padding: 5px;
      margin: 5px 0;
      border-radius: 5px;
      border: none;
      flex-grow: 1;
    }

    .speed {
      margin: 5px 0;
    }

    .buttons {
      margin: 5px 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 50px;
      margin-top: auto;

      button {
        @include button($primary-color, $secondary-color);
      }
    }
  }
}
